# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Distribution/Packaging
.Python
build/
dist/
*.egg-info/

# Virtual environment
venv/
ENV/
env/
*.env

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Unit test / coverage reports
.coverage
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
.dmypy.json.*/

# Pyre type checker
.pyre/

# VS Code settings
.vscode/

.venv/
